.dashboard-container {
  height: 100%;
  display: flex;
  background: #0f172a;
  color: white;
}


/* LEFT SIDEBAR */
.sidebar {
  width:300px;
  background: #1e293b;
  height: 100vh;
  border-right: 1px solid #334155;
}
.content-area{
  width: 70%;
}
.sidebar-menu li {
  list-style: none;
  padding: 12px 8px;
  color: #cbd5e1;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar-menu li:hover, .sidebar-menu .active {
  background: #0ea5e9;
  color: white;
}

/* SEARCH BAR */
.search-box {
  width: 350px;
  background: #1e293b;
  border: none;
  color: white;
  padding: 12px 0px 12px 20px ;
  border-radius: 10px;
  margin-left: 20px;
  outline: none;
}

.search-box::placeholder {
  color: #94a3b8;
  /* padding-left: 10px; */
}
.appointment-form {
                /* Use Flexbox */
   /* Push text left, + right */
  align-items: center;         /* Vertically center the items */
  width: 250px;                /* Set your desired width */
  height: 50px;                /* Set your desired height */
  padding: 10px 15px;             /* Optional padding inside */
     /* Example background */ 
     background: #0b588f49;

  border-radius: 8px;          /* Rounded corners */
  text-decoration: none;       /* Remove link underline */
  color: #fffafa;                 /* Text color */
  font-weight: 500;            /* Slightly bolder text */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional shadow */
}

.plus-icon {
  font-size: 20px;             /* Adjust size of + */
  font-weight: bold;
}


/* PROFILE BUTTON */
.profile-btn {
  cursor: pointer;
}

.profile-name {
  font-size: 18px;
  font-family: 800;
  color: rgb(255, 255, 255);
}


/* MIDDLE CONTENT BOX */
/* 2-column layout */
.dashboard-content-row {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* LEFT appointment list */
.left-appointments {
  width: 60%;
  /* background: #1e293b; */
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.right-form {
  margin-top: 40px;
}


/* Title inside each box */
.box-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #f1f5f9;
}

/* Appointment item */
.appoint-item {
  /* background: #121d38; */
  background: #1e293b;
  padding: 15px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #cbd5e1;
  box-shadow: 0px 0px 10px rgba(7, 2, 37,0.5),
  -1px -2px 20px rgb(5, 11, 42,0.5);
}
.result-title{
  display: block;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 4px;
  text-shadow:0px 0px 1px #f0f4f5;
}
.appointment-description{
  height: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}
.appointment-description::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}
.left-side-result-box{
  width: 70%;
}
.right-side-result-box{
  display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.bi-trash-fill{
  color: rgb(231, 226, 224);
  font-size: 17px;

 
}
.bi-pen-fill{
  color: rgba(246, 246, 242, 0.76);
   font-size: 17px;
}
.bi-pen-fill:hover{
  color: rgba(245, 209, 2, 0.783);
 
}
.bi-trash-fill:hover{
  color: rgb(201, 5, 38);
 
}
.bi-eye-fill{
 color: rgba(246, 246, 242, 0.76);
   font-size: 20px;
   padding-left: 20px;
}
.bi-eye-fill:hover{
 color: rgba(48, 178, 8, 0.76);
 
}
/* Entire offcanvas background */
.offcanvas-custom {
  background-color: #1e293b !important;   /* Dark blue */
  color: white !important;                 /* Text color */
}

/* Header */
.offcanvas-custom .offcanvas-header {
  background-color: #0f172a !important;
  color: white !important;
  border-bottom: 1px solid #334155;
}

/* Title */
.offcanvas-custom .offcanvas-title {
  color: #f8fafc !important;
}

/* Close button */
.offcanvas-custom .btn-close {
  filter: invert(1);   /* Makes close button white */
}

/* List items */
.offcanvas-custom .list-group-item {
  background-color: #1e293b;
  color: #cbd5e1;
  border: none;
}

.offcanvas-custom .list-group-item:hover {
  background-color: #0ea5e9; /* hover color */
  color: white;
}
.modal-content{
 background: #25354f;
}
.modal-title{
 
  color: white !important;
}
.modal-body{
  color: #f0f4f5;
}
.btn-close{
  
  filter: invert(1) grayscale(100%) brightness(200%);

}


