.register {
  /* background-color: rgb(96, 94, 94); */
  /* background-color: rgb(8, 7, 32); */
    /* background: radial-gradient(1200px 600px at 10% 10%, #0d0f17 40%, #0a0b12 100%); */
      /* background: */
    /* radial-gradient(120% 120% at 0% 0%, rgba(161,110,255,0.5), rgba(161,110,255,0) 60%),
    linear-gradient(135deg, rgba(124,77,255,0.65), rgba(202,169,255,0.35)); */
    background: radial-gradient(
    1200px 600px at 10% 10%,
    #280026 50%,
    #240023 100%
  );
    
  min-height: 100vh;
  width: 100vw;
  /* full page */
  padding: 0px 40px;
  overflow: hidden;
}
.icons-box {
  cursor: pointer;
}
.middle-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-top: 20px; */
  height: 80%;
  overflow: hidden;
}
.middle-box {
  display: flex;
  width: 80%;
  max-width: 950px;
  overflow: hidden;
}
/* LEFT IMAGE */
.middle-left {
  width: 50%;
}
.middle-left img {
  width: 100%;
  height:90%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* RIGHT FORM */
.middle-right {
  width: 50%;
  padding: 20px 40px;
  background: rgba(244, 244, 244, 0.9);
  height: 90%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.row {
  display: flex;
  gap: 15px;
}
.row-two {
  display: flex;
  width: 100%;
}

/* Half width inputs */
.half {
  width: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.field label {
  font-weight: 600;
  margin-bottom: 5px;
}
.field input {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.middle-right h1 {
    text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 700;
}

.middle-right p {
    text-align: center;
  color: #777;
  margin-bottom: 10px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background: #1a73e8;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}
